@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* If you want Tailwind to actually use your tailwind.config.ts in v4, add this: */
@config "../../tailwind.config.ts";

html { color-scheme: light; }
body { background: white; }

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}